*{
  box-sizing: border-box;
}
body{
  background-image: url(roulette.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
section{
  display: flex;
  justify-content: center;
  margin-top: 4%;
  color: red;
}
div{
  display: flex;
  justify-content: center;
  color: red;
}
#resultColor{
  display: block;

}
#resultNumber{
  display: block;
  padding-left: 5%;
}


@media only screen and (max-width:800px) {
  body{
    background-image: url(roulette.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
  }

}
